// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Arapey";
  src:font-url('Arapey-Regular.ttf') format('truetype');
}

.container {
  max-width: 90rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #fafafa;
  max-width: 100%;
  font-family: "Arapey",serif;

  .header {
    text-align: center;


    h1 {
      font-family: "Arapey",serif;
      font-weight: normal;
      line-height: 0.7em;
      a {
        color: #303030;
        text-decoration: none;
      }
      a:hover{
        color: blue;
      }

    }

    h2 {
      padding-top: 1em;
      margin-top: 1em;
      font-size: 1em;
      color: #aaa;
      font-family: georgia, serif;
      font-size: 0.9em;
      letter-spacing: 0.2em;
      font-style: italic;
    }

    img {
      display: block;
      height: 100px;
      width: 100px;
      border-radius: 100px;
      margin: 0 auto 20px;
    }
  }

  .footer {
    color: #aaa;
  }
}

.blog_entries {
  font-size: 1.4em;
}

.blog_entry {
  font-size: 1.4em;
  .date {
    font-style: italic;
  }
}

aside.sidebar {
  overflow: hidden;
  color: #4b4b4b;
  text-shadow: #fff 0 1px;
  padding-left: 3em;

  h1 {
    padding-left: 1.6em;
    padding-top: 1em;
    font-size: 1.7em;
  }
  li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    font-size: 1.1em;
  }

  a {
    color: inherit;
    transition: color 0.5s;
    text-decoration: none;
  }
  a:hover{
    color: blue;
  }
}
